.header {
	width: 100%;
	background-color: #000;
}

// Nav-top
.nav-top {
	height: 50%;
	padding-top: 10px;

	&__list {
		@include my-display-flex (row, flex-end, center);
		list-style: none;
	}
	&__item {
		margin-right: 20px;
	}
	&__icon {
		color: #009ce8;
		vertical-align: middle;
	}
	&__link {
		color: #939393;
		text-decoration: none;
	}
	&__text {
		margin-left: 8px;
		font-size: 0.75em;
		&:hover {
			text-decoration: underline;
			color: #fff;
		}
	}
	&__select {
		width: 71px;
	}
}
// Nav-bottom
.nav-bottom {
	height: 50%;
	@include my-display-flex (row, flex-start, center);
	flex-wrap: wrap;
	// Logo
	.logo {
		width: 120px;
		height: 50px;
		padding: 8px 15px;
		&__img {
			width: 100%;
		}
	}
	// Nav-bottom list of item
	&__list {
		@include my-display-flex (row, space-between, center);
		flex-wrap: wrap;
		list-style: none;
	}
	&__item {
		height: 50px;
		color: white;
		padding: 15px 25px;
		// TODO: hover corretto
		// &:hover {
		// 	background-color: white;
		// }
		&--dropdown {
			@extend .nav-bottom__item;
		}
	}
	&__icon {
		color: #7f6c47;
		vertical-align: middle;
		font-size: 0.90em;
		margin-left: 5px;
	}
	&__link {
		text-decoration: none;
		color: #fff;
	}
}
// Mobile
@media screen and (max-width: 768px) {
	.container-header {
		display: none;
	}
}
