// Nav-top
.nav-top {
	height: 50%;


	&__list {
		@include my-display-flex (row, flex-end, center);
		list-style: none;
	}
	&__item {
		margin-right: 20px;
		&--select {
			padding-top: 10px;
			width: 90px;
		}
	}
	&__icon {
		color: #009ce8;
		vertical-align: middle;
		font-size: 14px;
	}
	&__link {
		color: #939393;
		text-decoration: none;
	}
	&__text {
		padding-bottom: 10px;
		margin-left: 8px;
		font-size: 0.75em;
		&:hover {
			text-decoration: underline;
			color: #fff;
		}
	}
	&__select {
		width: 100%;
		font-size: 13px;
	}
}
